# Put this file at /etc/systemd/system with 644 permissions
[Unit]
Description=Morpheus from FUSE LTDA software service

[Service]
Type=simple
ExecStart=/bin/bash /DATA/Projetos/Morpheus/server-execution-script.sh
Restart=always
RuntimeMaxSec=2h5m

[Install]
WantedBy=multi-user.target